/*=====================================================
					Estilos generales
======================================================*/
body{
	margin: 0;
	padding: 0;
	position: relative;
	min-width: 1035px;
        line-height: 1.5;
        font-family: Arial;
}
#pagina{
        overflow: hidden;
        font-size: 16px;
        color: black;
}
/*====== Barra de navegacion*/
.cabecera{
    width: 100%;
    min-width: 912px;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
}
a.logo{
    display: block;
    float: left;
    height: 106px;
    margin: 44px 0 0;
    width: 320px;
}
.navegacion{
	width: 100%;
	background-color: rgb(254, 196, 9); /*color barra*/
	line-height: 50px;
        margin: 0 auto;
        max-height: 50px;
}
.logo{
	height: 50px;
        margin-left: 21px;
        border: 0;
}
.links{
        display: block;
        float: right;
        margin: 0;
        text-align: center;
        padding: 0 21px 0;
        list-style: none;
}
.links > li{
    float: left;
}
.links li:hover{
    background-color: rgba(23, 191, 195, 0.5); /*Sombreado botones*/
}
.links li a{
font-size: 16px;
color: black;
font-weight: normal;
line-height: 14px;
text-align: center;
text-transform: uppercase;
width: auto;
text-decoration: none;
outline: none;
padding: 15.5px 21px;
}
.links li ul{
    display: none;
    position: absolute;
    width: 260px;
    background-color: rgb(23, 191, 195);
    padding: 0;
}
.links li ul li:hover{
    background-color: rgba(254, 196, 9, 0.5);
}
.links li:hover > ul{
    display: block;
}
.links li ul li{
    position: relative;
    display: block;
    text-align: left;
}
.links li ul li a{
    color:#fff;
}
.caja{
    padding: 60px 0;
    width: 100%;
    display: flex;
    min-height: 80%;
    margin: auto;
}
.cajaP{
    width: 70%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 51px 0;
}
.imagen{
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
    float: left;
    padding: 0 12px;
    box-sizing: border-box;
}
.principal{
    max-width: 100%;
    padding: 0;
    height: auto;
    margin: 0 auto;
    display: block;
}
.texto{
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
    float: left;
    box-sizing: border-box;
    line-height: 1.5;
    padding: 0 12px;
    font-size: 1.64rem;
}
h5{
    text-align: center;
    line-height: 110%;
    margin: 0.82rem 0 0.65rem 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size:1.64rem;
}
h4{
    text-align: center;
    line-height: 110%;
    font-size: 2.28rem;
    margin: 1.14rem 0 0.912rem 0;
    text-transform: uppercase;
}
.N{
    padding: 0;
    text-align: left;
}
.espacio{
    border-top: 1px solid #E1E1E1; /*linea divisoria*/
    padding-top: 30px;
    margin: 0 21px;
}
.B{
    margin: 0;
    padding: 30px 0;
}
.col{
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
}
.P{
  position: relative;
  width: 221px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0;
  box-sizing: border-box;
  height: 460px;
}
.PP{
    width: 70%;
    float: right;
    padding: 21px;
    margin-left: 25%;
}
.banner{
    position: relative;
    width: 100%;
    margin: 66px 0 0 0;
    border-bottom: solid 1px #E1E1E1;
    padding: 0;
    box-sizing: border-box;
}
.T{
    width: 21%;
    margin-left: 21px;
    float: left;
    position: fixed;
}
.T ul{
    background-color: rgb(23, 191, 195);
    list-style: none;
    padding: 0;
    min-width: 241px;
    margin-top: 29px;
    text-transform: uppercase;
}
.T ul li{
    padding: 9px 0;
}
.T ul li a{
    text-decoration: none;
    font-size: 16px;
    line-height: 14px;
    padding: 15.5px 21px;
    color:#fff;
}
.T ul li:hover{
    background-color: rgba(254, 196, 9, 0.5); /*Sombreado botones*/
}
.hover{
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.hover:hover{
    box-shadow:0 15px 10px 0 rgba(0,0,0,0.2),0 15px 20px 0 rgba(0,0,0,0.22);
}
.im{
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
}
.im img{
   border-radius: 2px 2px 0 0;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   width: 100%;
   border: 0;
   display: block;
   position: relative;
}
.im a{
   width: 100%;
   background-color: rgba(0,0,0,.5);
   padding: 9px 0;
   position: absolute;
   bottom: 0;
   color: black;
   left: 0;
   font-size: 24px;
   font-weight: 300;
   display: block;
}
.tex{
    padding: 20px;
    border-radius: 0 0 2px 2px;
}
.tex p{
    margin:0;
}
.accion{
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 20px;
}
.accion a{
    color: #0091ea;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
}
.accion a:hover{
    color: #d1d1d1; /*color link al pasar cursor*/
}
.anuncios{
    width: 100%;
    margin-left: auto;
    left: auto;
    right:auto;
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
}
.titulo{
    text-align: center;
    font-weight: 300;
    font-size: 1.68rem;
}
.dibujos{
    margin: 16px 0;
}
/*====== footer*/
.C{
	padding: 30px 0;
	background-color: rgb(254, 196, 9); /*color pie de pagina*/
	color: black;
        padding: 0;
}
.M{
    width: 50%;
    color: black;
}
.redes{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.redes li a{
    text-decoration: none;
    color: black;
}
.copyright{
        width: 100%;
	text-align: center;
        border-top: 1px solid rgba(255,255,255,.2);
        color: black;
}
/*====== Datos de Usuario*/
.contenido{
    margin: auto;
    width: 60%;
    height: 60%;
    color: gray;
    max-width: 66%;
}
.contenido h2{
    text-align: center;
}
form {
    margin: auto;
    width: 50%;
    max-width: 500px;
    padding: 50px;      
}
form input {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px auto;
    font-size: 20px;
} 
form input[type="submit"] {
    background: linear-gradient(yellow,lightgray);
    border: 0;
    color: brown;
    opacity: 0.8;
    cursor: pointer;
    border-radius:20px;
    margin-bottom: 0;
    width: 107%;
}
form input[type="submit"]:hover {
    opacity:1;                        
}
